:root {
  --color-primary: teal;
  --color-secondary: black;
  --color-font: white;
  --font-main: "PT Sans Narrow", "sans-serif";

  --color-bubble: teal;
  --color-bubble-font: white;
  --color-bubble-alt: darkred;
  --color-bubble-font-alt: white;
}

/* -----GLobal----- */
.hidden {
  display: none;
}
.justified {
  text-align: justify;
  text-justify: inner-word;
}
.text-highlight {
  color: red;
}
.nopadding {
  padding: 0;
  margin: 0;
}
.hr-custom {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, grey, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, grey, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, grey, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, grey, #f0f0f0);
}


/* -----Navbar----- */
.custom-navbar {
  box-shadow: 2px 2px 10px grey;
  font-family: 'Roboto', 'sans-serif';
  font-size: 150%;
  padding: 0 2% 0 2%;
}
.custom-navbar li a {
  font-size: 100%;
  font-weight: 300;
}
#logo {
  font-size: 150%;
  font-weight: 300;
}
#logo img {
  height: 100%;
  width: 20%;
  margin: -2% 0 0 -3%;
}
.text-highlight {
  color: red;
}


/* ----- Home Navbar ----- */
#navbar {
  background-color: var(--color-primary);
  border-bottom: solid var(--color-primary);
}
#navbar li a {
  color: white;
}
#navbar li:hover {
  background-color: var(--color-secondary);
}

/* ----- Result Navbar ----- */

#navbar_hidden {
  background-color: var(--color-secondary);
  border-bottom: solid var(--color-secondary);
}
#navbar_hidden li:hover {
  background-color: var(--color-primary);
}

/* -----Home Search-----*/

#home_form_wrapper {
  border: solid 2px white;
  margin-top: -2.50%;
  margin-bottom: 1%;
  padding: 0.5%;
}
#home_search_bar {
  background-color: var(--color-secondary);
  box-shadow: 2px 2px 10px grey;
  color: white;
  font-size: 100%;
  font-weight: 300;
  margin: 8% auto 10% auto;
  position: relative;
  padding: 0.01% 2% 0.8% 2%;
  width: 80%;
}
#home_search_bar p {
  font-size: 36px;
}
#search_form input {
  background-color: white;
  margin: auto;
  padding: 0 1% 0 1%;
  width: 78%;
}
#search_form button {
  background-color: teal;
  border: teal;
  color: white;
  font-size: 175%;
  margin-top: -0.20%;
  padding: 0.35%;
  vertical-align: middle;
  width: 19%;
}
.top-label {
  margin: 3% 0 3% 0;
}

/* ---- Result Page ----- */

#result_wrapper {
  padding-top: 5%;
}
.verified p {
  color: green;
  font-size: 250%;
  font-weight: 300;
  margin: 0;
}
.verified img {
  height: 3%;
  padding-top: 2%;
  width: 3%;
}
.unverified p {
  color: red;
  font-size: 250%;
  font-weight: 300;
  margin: 0;
}
.unverified img {
  height: 3%;
  margin-right: 0.25%;
  padding-top: 2%;
  width: 3%;
}
.sfireImage {
  height: 45%;
  width: 45%;
}
.source-logo {
  height: 14%;
  width: 14%;
  margin: 0 1% 0 1%;
}
.text-bubble {
  background-color: var(--color-bubble);
  border-radius: 20px;
  box-shadow: 4px 4px 10px grey;
  color: var(--color-bubble-font);
  padding: 2% 3% 2% 3%;
  text-align: center;
}
.alt-bubble {
  background-color: var(--color-bubble-alt);
  color: var(--color-bubble-font-alt);
}
.statement-list li {
  margin: 2% 0 2% 0;
}
.list-logo {
  padding-top: 10%;
}
